<form action="/getfabvourite" method="POST">
  <input type="hidden" name="id" value="<%=home.id %>" />
  <button
    class="bg-green-500 hover:bg-green-700 mt-4 text-white font-bold py-2 px-4 rounded"
  >
    Fabvourite
  </button>
</form>
