<form action="/getfabvourite" method="POST">
  <input type="hidden" name="id" value="<%=home.id %>" />
  <button
    class="bg-slate-300 hover:bg-green-700 mt-8 font-bold py-2 px-4 rounded"
  >
    Fabvourite
  </button>
</form>
